.page-div-hide {
    display: none;
}

.page-div-show {
    display: visible;
}

#page-dashboard > .container-fluid {
    padding : 15px;
}

#page-dashboard .card {
    margin-bottom: 15px;;
}

.lastest-title {
    font-weight: bold;
    font-size: 1.8rem;
}

#lastest-humi {
    margin-left: 1rem;
}

.graph {
    min-width: 310px; 
    height: 200px; 
    margin: 0 auto
}

.icon {
    font-size: 1.5rem;
}